html {
    font-family: "Book Antiqua", sans-serif;
}

header {
    background-attachment: fixed;
    /* Parallax effect */
    background-image: url("../images/housings.jpg");
    /* Your code here - Link to header.jpg in the images folder */
    background-position: center;
    /* Parallax effect */
    background-repeat: no-repeat;
    /* Parallax effect */
    background-size: cover;
    /* Parallax effect */
    color: black;
    height: 500px;
    /* Parallax effect */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    padding: 1%;
    width: fit-content;
    border-radius: 30px;
    border: 20px solid;
    border-image: url("../images/Art-Nouveau-Design-13.svg") 30 round;
    background: url('../images/paper.jpg');
    height: fit-content;
    text-align: center;
}

.skip {
    position: absolute;
    top: -20px;
    z-index: 1;
}

.skip:focus {
    position: absolute;
    top: 20px;
    border: 5px solid green;
    background-color: white;
    padding: 5px;
    z-index: 1;
}

body {
    font-size: 18px;
    display: grid;
    background: black;
}

body *:focus {
    border: 5px solid green;
}

h2 {
    font-size: 35px;
}

nav {
    font-size: 20px;
    text-align: center;
    grid-column: 1/span all;
    align-self: center;
    padding: 10px;
}

nav a {
    color: #92d1d5;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 0 5%;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    width: vw;
    row-gap: 15px;
    background: black;
}

.content {
    display: grid;
    background: #bdaf95;
    grid-column: 2/span 1;
    grid-row: 1/span all;
    padding: 10px;
}

img {
    display: inline-block;
    width: 90px;
    height: 120px;
    grid-column: 1/3;
    grid-row: 1/span 3;
}

section img {
    display: inline-block;
    width: 90px;
    height: 120px;
    grid-column: 1/3;
    grid-row: 1/span 3;
    border: 8px solid rgb(250, 208, 68);
}

section {
    display: grid;
    padding-bottom: 40px;
    background: #dfd5c5;
    margin: 10px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.content-text {
    grid-column: 2/span 3;
    grid-row: 1/span 3;
    padding-left: 5px;
}

section a {
    grid-column: 4;
    grid-row: 3;
    align-self: end;
    justify-self: end;
}

footer {
    color: white;
    justify-self: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

.homepage nav ul li:first-child {
    font-weight: bold;
    text-decoration: underline;
}

.gallery nav ul li:nth-child(2) {
    font-weight: bold;
    text-decoration: underline;
}

.si339 nav ul li:nth-child(3) {
    font-weight: bold;
    text-decoration: underline;
}

.eecs183 nav ul li:last-child {
    font-weight: bold;
    text-decoration: underline;
}

iframe {
    height: 500px;
    width: 100%;
    object-fit: fill;
}